* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.html text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.md text eol=lf
*.php text eol=lf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.exe binary
*.db binary
